.topicsP{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 2rem;
   
}

.divColumns{
   height: 300px;
    /* margin-bottom: 1rem;
    margin-top: 1rem; */
    background-color: rgb(255, 255, 255);
}

.tableTopicH3{
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 2rem;
}