/* .div_aca_yr{
    background-color: #e1e1e1;
    height: 60px;
    width: 98%;
    margin: 1% 1% 1% 1%;
}


.p_aca_yr{
    font-size: 20px;
    margin: 2.5% 0% 3% 25%;
    color:  rgb(0, 0, 0);
    font-family: sans-serif;
    
    
} */



.divAddStudent{
    height: auto;
}
.divAddStudentTable{
    height: auto;
   
}

.pAddStudent{
    color: black;
    font-size: 18px;
    font-weight:bolder ;
    margin-top: 6px;
    margin-left: 20px;
    padding: 5px;
}

.TableRoWUp{
height: 60px;

}


/* Manage class results */

.btnCrudGroup{
    width: 40%;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

.btnUpdate{
    width: 40%;
    height: 40px;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
}

