body{
  font-family: sans-serif;
  background-color: rgb(242, 242, 242);
}


.topDiv{
  /* background: linear-gradient(to bottom, #acb0b7, #ffffff); */
  /* background-color: #acb0b7; */
  height: 60px;
  width: 98%; 
  margin: 1% 1% 1% 1%;
  justify-content: center;
 
}

.pTopDiv{
  font-size: 30px;
  margin: 0.4% 0% 0% 41%;
  color:  rgb(0, 0, 0);
  font-weight: bolder;
  letter-spacing: 4px;
  
}

.allTables{
  background-color: #e1e1e1;
  height: auto;
  width: 98%;
  margin: 1% 1% 1% 1%;
}

/* for sub topics */
.subTopicsP{
  font-size: 20px;
  margin: 2.5% 70% 3% 0%;
  color:  rgb(0, 0, 0);
  font-family: sans-serif;
  
}
.subTopicsDiv{
  background-color: #F5F5F5;
  height: 30px;
  width: 98%; 
  margin: 1% 1% 0% 1%;
  margin-top:80px;
}




.divAllDropdown{
  background-color: #F5F5F5;
  height: auto;
  width: 98%;
  margin: 1% 1% 1% 1%;
}
.customDropdown{
  width: auto;
  margin: 2% 0% 3% 5%;
  background-color: white;
  color: black;
  font-family: sans-serif;
  border-color: white;
}

.pLables{
  font-size: 20px;
  margin: 2.5% 0% 3% 25%;
  color:  rgb(0, 0, 0);
  font-family: sans-serif;
  
  
}



