/* .App {
  width: 800px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
} */
body{
  font-family: sans-serif;
}

.topDiv{
  background-color: #adc8ff;
  height: 60px;
  width: 98%;
  margin: 1% 1% 1% 1%;
 
}
